* {
  font-family: 'Poppins', sans-serif;
}

.logopart {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 0px;
          flex: 40% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5rem 2rem 0 0;
}

.logopart--box {
  height: 26rem;
  width: 23rem;
  border-radius: 0px 50px 0px 0px;
  opacity: .5;
}

@media only screen and (max-width: 31.25em) {
  .logopart--box {
    height: 23rem;
    margin-left: 1rem;
    width: 20rem;
    font-size: .9rem;
  }
}

.logopart--box--h1 {
  margin-left: 2rem;
  color: black;
  padding-top: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 31.25em) {
  .logopart--box--h1 {
    margin-left: 1rem;
  }
}

.logopart--box--h2 {
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
  padding-top: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 31.25em) {
  .logopart--box--h2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.logopart--box--h3 {
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
  padding-top: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 31.25em) {
  .logopart--box--h3 {
    margin-left: 1rem;
  }
}

.logopart--box--button {
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: #ffc73f;
  border: 1px solid white;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-size: 16px;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  cursor: pointer;
}

@media only screen and (max-width: 31.25em) {
  .logopart--box--button {
    margin-left: 1rem;
    margin-left: 1rem;
    padding: 15px 20px;
    font-size: 20px;
  }
}

.logopart--box--button:hover {
  background-color: #151c3b;
  color: white;
  border: 1px solid blue;
}

.dashboard {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  padding: 2rem 3rem 5rem 3rem;
  overflow: hidden;
  height: 500px;
  width: auto;
  background-color: #f1f3fe;
}

.dashboard__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__text {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
}

.dashboard__logo {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
}

@media only screen and (max-width: 31.25em) {
  .dashboard__logo {
    display: none;
  }
}

.dashboard__logo-img {
  width: auto;
  height: 22rem;
  margin: 3rem 2rem 0 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.studydirection {
  background-color: #64edbe;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-top: -10rem;
  padding: 8rem 3rem 8rem 3rem;
}

.container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 50em) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  height: 25rem;
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  margin: 3rem;
  position: relative;
}

@media only screen and (max-width: 50em) {
  .card {
    -webkit-box-flex: 80%;
        -ms-flex: 80% 0 0px;
            flex: 80% 0 0;
    margin: 1rem;
    height: 25rem;
  }
}

.card__side {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__side--up {
  background-size: cover;
  height: 12rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media only screen and (max-width: 50em) {
  .card__side--up {
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

.card__side--up-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../MainPage/images/codeme.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../MainPage/images/codeme.jpg);
}

.card__side--up-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../MainPage/images/inter.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../MainPage/images/inter.jpg);
}

.card__heading {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 9.5rem;
  right: 1rem;
  width: 75%;
}

.card__heading-span {
  padding: .2rem 1.5rem;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__details {
  padding: .3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1rem;
  padding: .6rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}

.card__front {
  background-color: white;
}

.card__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
}

.card__back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card:hover .card__side--up {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.card:hover .btn {
  display: inline-block;
}

.man {
  top: 4.5rem;
  position: absolute;
  width: 100%;
  height: 2rem;
  display: block;
  text-align: center;
}

@-webkit-keyframes example {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes example {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn, .btn:link, .btn:visited {
  position: relative;
  display: none;
  opacity: .5;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@media only screen and (max-width: 50em) {
  .btn, .btn:link, .btn:visited {
    display: inline-block;
  }
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: white;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.headwraper {
  width: 100%;
  text-align: center;
}

.headingPri {
  color: #63EDBF;
}

.headingPri-direction {
  color: #f1f3fe;
}

.navigation {
  display: none;
  -webkit-box-flex: 70%;
      -ms-flex: 70% 0 0px;
          flex: 70% 0 0;
}

.navigation__checkbox {
  display: none !important;
}

@media only screen and (max-width: 31.25em) {
  .navigation {
    display: block;
  }
}

.navigation__button {
  background-color: white;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: .2rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: .2rem;
  right: 1rem;
  background-image: radial-gradient(#7ed56f, black);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1.5rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(100deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.5rem;
  height: 2px;
  background-color: black;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navigation__icon {
  top: -2rem;
}

.navigation__icon::before {
  top: -.5rem;
}

.navigation__icon::after {
  top: .5rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 1em;
}

.toppic {
  width: 100%;
  max-width: 100vw;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(38, 46, 56, 0.1);
          box-shadow: 0px 1px 2px 0px rgba(38, 46, 56, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  background-color: #f1f3fe;
  opacity: .9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  z-index: 2000;
}

@media only screen and (max-width: 31.25em) {
  .toppic {
    height: 55px;
  }
}

.toppic__logo {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .toppic__logo {
    -webkit-box-flex: 70%;
        -ms-flex: 70% 0 0px;
            flex: 70% 0 0;
  }
}

.toppic__logo--img {
  height: 100%;
  width: 8rem;
}

.toppic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  list-style: none;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 31.25em) {
  .toppic__container {
    display: none;
  }
}

.toppic__button {
  -webkit-box-flex: 25%;
      -ms-flex: 25% 0 0px;
          flex: 25% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toppic__bcontainer {
  width: 100%;
  margin: auto 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.toppic__btn1 {
  display: inline-block;
  color: black;
  font-size: 16px;
  padding: 6px 14px;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.toppic__btn1--zhu {
  background-color: #3b3b3b;
  color: white;
  border: 3px solid #3b3b3b;
}

.toppic__btn1--denglu {
  border-radius: 30px;
  background-color: #ffc73f;
  color: black;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
}

.toppic__zhu1 {
  -webkit-transition: ease-in-out all .3s;
  transition: ease-in-out all .3s;
  border: 2px solid transparent;
}

.liwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  text-align: center;
  font-size: 14px;
  color: black;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.liwrap:hover {
  background-color: #151c3b;
  color: white;
}

.liwrap:hover .liwrap__up {
  opacity: 1;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  top: 44px;
}

.liwrap__up {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 120px;
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0.16667);
          transform: scaleY(0.16667);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.liwrap__up--item {
  height: 38px;
  line-height: 38px;
  border-top: 1px solid #f2f2f2;
  position: relative;
}

.liwrap__up--item:hover .liwrap__up--content {
  color: blue;
}

.liwrap__up--item::before {
  content: "";
  position: absolute;
  color: black;
  bottom: 0;
  left: 0%;
  height: 10%;
  width: 3%;
  background-color: red;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.liwrap__up--item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.liwrap__up--content {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: black;
  font-size: 12px;
}

.liwrap__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_language button {
  outline: none;
  width: 3rem;
  height: 1.5rem;
  margin-top: 0.3rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes box {
  0% {
    border: 1px black solid;
  }
}

@keyframes box {
  0% {
    border: 1px black solid;
  }
}

.baobao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  opacity: 0;
  height: 0;
  -webkit-transform: scaleY(0.1111);
          transform: scaleY(0.1111);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  top: 0;
  border-collapse: collapse;
}

.baobao2 {
  /*display: flex;
   flex-direction: column;
   border-collapse:collapse;*/
  /*display: table-cell;*/
  padding: .3rem .5rem;
  margin-top: .3rem;
  border: 1px solid red;
  width: 20%;
  height: 20px;
}

.apam {
  padding: .5rem 1rem;
  width: 100px;
  height: 25px;
  background-color: grey;
  border: 2px solid blue;
}

/*.apam:hover .baobao{
   
   
   transform: scaleY(1);

}*/
.final {
  margin-top: .5rem;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  opacity: 1;
  height: 110px;
}

.wrapper * {
  font-size: 62.5%;
}

.primarywrapper {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  margin-top: -5rem;
  padding: 8rem 2rem 5rem 2rem;
  background-color: #f1f3fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: moveup .5s ease-out .75s;
          animation: moveup .5s ease-out .75s;
}

.primarywrapper__topic {
  font-size: 3rem;
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 1rem;
}

.dele500px {
  display: none;
}

@media only screen and (max-width: 59.375em) {
  .dele500px {
    display: block;
  }
}

@media only screen and (max-width: 75em) {
  .delteicon {
    display: block !important;
  }
  .deleteit {
    display: none;
  }
  .arrowsecond {
    display: block !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .item1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sc100px {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .item3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .item10 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .sc100px2 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .item5 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .item8 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .sc100px1 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .item6 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .item13 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .sc100px3 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .item11 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .item15 {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
}

@media only screen and (max-width: 59.375em) {
  .sc500delete {
    display: none;
  }
  .deleteit {
    display: block !important;
  }
  .item1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .item3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .item5 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .item6 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .item8 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .item10 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .item11 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .item13 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .item15 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}

@media only screen and (max-width: 59.375em) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 26.5em) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}

.delteicon {
  display: none;
}

.item {
  z-index: 2;
  height: 13rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.33333%;
          flex: 0 0 28.33333%;
  font-size: 3rem;
}

@media only screen and (max-width: 75em) {
  .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media only screen and (max-width: 59.375em) {
  .item {
    width: 40rem;
  }
}

@media only screen and (max-width: 26.5em) {
  .item {
    width: 20rem;
  }
}

.arrow {
  z-index: 1;
  background-color: #f1f3fe;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 75em) {
  .arrow {
    display: none !important;
  }
}

.arrow__icon {
  width: 2rem;
  height: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.arrowsecond {
  background-color: white;
  height: 9rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .arrowsecond {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }
}

@media only screen and (max-width: 59.375em) {
  .arrowsecond {
    height: 0;
    margin-bottom: 0;
  }
}

.arrowsecond__icon {
  width: 2rem;
  height: 2rem;
}

.downitem {
  width: 100%;
  height: 13rem;
  color: #545e6f;
}

.downitem__upper {
  background: #f1f2f5;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.downitem__upper:hover {
  -webkit-transform: translateY(-0.5rem) scale(1.03);
          transform: translateY(-0.5rem) scale(1.03);
}

.downitem__upper__contetnts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.downitem__upper__contetnts-text {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.downitem__upper__topic {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.downitem__upper__topic__textrap {
  margin: 0 auto 0 auto;
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid blue;
  border-radius: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.downitem__upper__topic-icon {
  text-decoration: none;
  color: #5cc29f;
  font-size: 1.5rem;
}

.downitem__upper__topic-text {
  font-size: .9rem;
}

.downitem__upper__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  height: 7.5rem;
}

.downitem__lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.downitem__lower__icon {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.overall {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 31.25em) {
  .overall {
    height: 80vh;
  }
}

h2, p {
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

.slidershow {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #f1f2f5 !important;
}

@media only screen and (max-width: 31.25em) {
  .slidershow {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.navigation1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 31.25em) {
  .navigation1 {
    display: none;
  }
}

.bar {
  background-color: white;
  padding: .1rem .5rem .1rem .5rem;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  font-size: .8rem;
  cursor: pointer;
}

.bar:hover {
  background-color: #f1eee9;
  border: 1px solid #f1eee9;
  border-radius: 25px;
}

.bar__btn {
  width: 100px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 16px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.bar__btn span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: .3rem;
}

.bar__btn:hover {
  color: blue;
  background-color: #f1eee9;
}

.slides {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 31.25em) {
  .slides {
    width: 100%;
    height: 80%;
  }
}

.slides_button {
  position: absolute !important;
  display: none;
  border: none;
  color: white;
  z-index: 2000;
  width: 3rem;
  height: 3rem;
  top: 35%;
}

@media only screen and (max-width: 31.25em) {
  .slides_button {
    display: block;
  }
}

@media only screen and (max-width: 31.25em) {
  .slides__nextbtn {
    right: 0;
  }
}

.slides__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f1f2f5 !important;
  display: none;
  bottom: .5rem;
  margin-bottom: .5rem;
}

.slides__nav--contain {
  border: 1px solid black;
  border-radius: 25px;
  height: 3rem;
}

@media only screen and (max-width: 31.25em) {
  .slides__nav {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slides__nav--btn {
  margin: 1rem;
}

.slide {
  background-color: #f1f2f5 !important;
  position: relative;
  width: 40%;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 500px;
}

@media only screen and (max-width: 31.25em) {
  .slide {
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 31.25em) {
  .slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.slide__dash {
  font-size: 1rem;
}

@media only screen and (min-width: 31.25em) {
  .slide__dash {
    display: none;
  }
}

.slide__item {
  font-size: 3rem;
  position: relative;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2fbff !important;
  -webkit-box-shadow: 0 0 4px #3bbdf8;
          box-shadow: 0 0 4px #3bbdf8;
  background-color: white;
  border-radius: 32px;
  display: flex;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.8rem;
  margin-top: 1rem;
  height: 56px;
}

.slide__item__icon {
  margin-left: 0;
  border: 4px solid white;
  background-color: white;
  height: 80%;
  width: 4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slide__item__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.slide__item__text--1 {
  font-weight: bold;
}

@media only screen and (max-width: 70em) {
  .slide__item {
    width: 205px;
  }
}

@media only screen and (max-width: 20em) {
  .slide__item {
    height: 40px;
  }
}

@media only screen and (max-width: 65em) {
  .slide__item {
    margin: .5rem 0 .85rem 0;
  }
  .slide__item:nth-child(4n+16) {
    display: none;
  }
}

@media only screen and (max-width: 63em) {
  .slide__item {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 48em) {
  .slide__item {
    margin: .5rem 0 .85rem 0;
  }
  .slide__item:nth-child(4n+16) {
    display: none;
  }
}

@media only screen and (max-width: 45em) {
  .slide__item {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .slide__item {
    margin-bottom: .25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

.slide__item:nth-child(4n+1) {
  margin-left: -48px;
}

@media only screen and (max-width: 48em) {
  .slide__item:nth-child(4n+1) {
    margin-left: -18px;
  }
}

@media only screen and (max-width: 31.25em) {
  .slide__item:nth-child(4n+1) {
    margin-left: 0;
  }
}

.slide__item:nth-child(4n+2) {
  margin-left: 36px;
}

@media only screen and (max-width: 48em) {
  .slide__item:nth-child(4n+2) {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 31.25em) {
  .slide__item:nth-child(4n+2) {
    margin-left: 0;
  }
}

.slide__item:nth-child(4n+3) {
  margin-left: -18px;
}

@media only screen and (max-width: 48em) {
  .slide__item:nth-child(4n+3) {
    margin-left: -9px;
  }
}

@media only screen and (max-width: 31.25em) {
  .slide__item:nth-child(4n+3) {
    margin-left: 0;
  }
}

.slide__item:nth-child(4n+4) {
  margin-left: 72px;
}

@media only screen and (max-width: 48em) {
  .slide__item:nth-child(4n+4) {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 31.25em) {
  .slide__item:nth-child(4n+4) {
    margin-left: 0;
  }
}

@-webkit-keyframes anwar {
  0% {
    left: 0;
  }
  10% {
    left: -20%;
  }
  20% {
    left: -40%;
  }
  30% {
    left: -60%;
  }
  40% {
    left: -80%;
  }
  50% {
    left: -60%;
  }
  60% {
    left: -40%;
  }
  70% {
    left: -20%;
  }
}

@keyframes anwar {
  0% {
    left: 0;
  }
  10% {
    left: -20%;
  }
  20% {
    left: -40%;
  }
  30% {
    left: -60%;
  }
  40% {
    left: -80%;
  }
  50% {
    left: -60%;
  }
  60% {
    left: -40%;
  }
  70% {
    left: -20%;
  }
}

.addflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addno {
  display: none;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.red {
  background-color: red;
  border-radius: 25%;
}

@media only screen and (max-width: 31.25em) {
  .red {
    background-color: black;
  }
}

.makingFlex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@-webkit-keyframes f1 {
  0% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@keyframes f1 {
  0% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes f2 {
  0% {
    left: 0;
  }
  50% {
    left: -120%;
  }
  100% {
    left: -120%;
  }
}

@keyframes f2 {
  0% {
    left: 0;
  }
  50% {
    left: -120%;
  }
  100% {
    left: -120%;
  }
}

@-webkit-keyframes f3 {
  0% {
    left: -120%;
  }
  50% {
    left: -240%;
  }
  100% {
    left: -240%;
  }
}

@keyframes f3 {
  0% {
    left: -120%;
  }
  50% {
    left: -240%;
  }
  100% {
    left: -240%;
  }
}

@-webkit-keyframes f4 {
  0% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@keyframes f4 {
  0% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@-webkit-keyframes f5 {
  0% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

@keyframes f5 {
  0% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

.book {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(./../../MainPage/images/Footer/conputer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
}

@media only screen and (max-width: 48em) {
  .book {
    margin: 2rem;
    background-image: none;
  }
}

.book__form {
  position: absolute;
  margin-left: 5rem;
}

@media only screen and (max-width: 48em) {
  .book__form {
    margin-left: 0;
    top: 38%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading1 {
  margin-top: .5rem;
  margin-bottom: .5rem !important;
}

.heading2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(grey));
  background-image: linear-gradient(to right, black, grey);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 48em) {
  .heading2 {
    font-size: 2rem;
  }
}

.slidetext {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", sans-serif, BlinkMacSystemFont, "Segoe UI", "Arial", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.heading3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(grey));
  background-image: linear-gradient(to right, black, grey);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
}

.heading4 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.logowrapper {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag {
  font-size: 13.5px;
  font-weight: 400px;
  color: blue;
  line-height: 24px;
  word-break: keep-all;
  height: 24px;
  padding: 2px 12px;
  background-color: white;
  opacity: .5;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 6px 0 0;
}

.buttonslide {
  border-bottom-left-radius: 15px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buttonslide__num1 {
  color: white;
  height: 1.8rem;
  padding: 4px 1rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: 1.5em;
  border: none;
  line-height: 1.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(#5687e3));
  background: linear-gradient(to right, blue, #5687e3 100%);
  -webkit-box-shadow: 0 12px 14px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 12px 14px -4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.buttonslide__num1:hover {
  outline-style: solid;
  outline-color: grey;
  outline-offset: 1px;
}

.cross {
  display: inline-block;
  text-decoration: line-through;
}

.aboutus {
  height: 480px;
  width: 100vw;
  background-color: #141c3a;
}

@media only screen and (max-width: 59.375em) {
  .aboutus {
    height: 650px;
  }
}

.aboutusbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 59.375em) {
  .aboutusbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutusbox__text {
  margin-left: 4rem;
  -webkit-box-flex: 40%;
      -ms-flex: 40% 0 0px;
          flex: 40% 0 0;
  color: #FECC52;
}

@media only screen and (max-width: 59.375em) {
  .aboutusbox__text {
    margin-left: 1rem;
  }
}

.aboutusbox__left {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  margin: 1rem;
}

.aboutusbox__picwrap {
  margin: 4rem;
  position: relative;
}

.aboutusbox__picwrap:hover .aboutusbox__pics:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.aboutusbox__pics {
  width: 60%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: .5rem;
}

@media only screen and (max-width: 59.375em) {
  .aboutusbox__pics {
    width: 100%;
  }
}

.aboutusbox__pics-pic1 {
  left: 2rem;
  top: -2rem;
}

@media only screen and (max-width: 59.375em) {
  .aboutusbox__pics-pic1 {
    top: -4rem;
    right: -4rem;
  }
}

.aboutusbox__pics-pic2 {
  right: 2rem;
  top: 2rem;
}

@media only screen and (max-width: 59.375em) {
  .aboutusbox__pics-pic2 {
    top: 2rem;
    left: -4rem;
  }
}

.aboutusbox__pics-pic3 {
  left: 30%;
  top: 6rem;
}

.aboutusbox__pics:hover {
  outline: .6rem solid blue;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.margin_button {
  margin-bottom: 1.5rem;
}

.paragraph {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 59.375em) {
  .paragraph {
    margin-bottom: 1rem;
  }
}

.btn-text:link, .btn-text:visited {
  margin-top: 2rem;
  font-size: 1rem;
  color: #fecc52;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fecc52;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media only screen and (max-width: 59.375em) {
  .btn-text:link, .btn-text:visited {
    margin-top: 1rem;
  }
}

.btn-text:hover {
  background-color: #fecc52;
  color: black;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  width: 100%;
  text-align: center;
  border: 2px solid grey;
  background-color: #00274b;
  color: #a6b4c0;
}

.footer_text {
  padding: 0.8rem 0px;
}

.footer h6 {
  padding: 0px 1rem;
}

.footer a {
  text-decoration: none;
  color: #a6b4c0;
}

.footer h4 {
  color: #d9dfe4;
  font-size: 1.1rem;
}

.footer .footer_wechat img {
  width: 100px;
  height: 100px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.footer_content .footer_contact {
  padding: 0 1rem;
}

.footer_content .footer_contact img {
  margin-bottom: 1rem;
}

.footer_content .footer_wechat img {
  margin-top: 1rem;
}

.successExamples {
  text-align: center;
}

.successExamples h1 {
  margin-top: 2rem;
}

.successHead {
  margin: 1rem 1rem;
  line-height: 1.5rem;
}

.successIntro {
  margin-top: 1rem;
}

.bubble_container {
  width: 100%;
  height: 300px;
  background-color: #f1f3fe;
  margin-top: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bubble_container .bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  position: relative;
}

.bubble_container .bubbles .bubble {
  border: 2px solid lightblue;
  list-style: none;
  display: block;
  background-color: white;
  height: 50px;
  min-width: 250px;
  margin-bottom: 50px;
  -webkit-box-shadow: 3px 17px 56px -6px #f0de69;
  box-shadow: inset 3px 17px 56px -6px rgba(238, 229, 153, 0.8);
  border-radius: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

.bubble-intro {
  margin-left: 0.7rem;
}

.bubble_name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
}

.bubble_container .bubbles img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-style: none;
  position: absolute;
  left: 10px;
  top: 0;
}

.b1 .bubble {
  -webkit-animation: myMove1 10s infinite linear;
          animation: myMove1 10s infinite linear;
}

.b2 .bubble {
  margin-top: 50px;
  -webkit-animation: myMove2 10s infinite linear;
          animation: myMove2 10s infinite linear;
}

.b3 .bubble {
  margin-top: 100px;
  -webkit-animation: myMove3 10s infinite linear;
          animation: myMove3 10s infinite linear;
}

.b4 .bubble {
  margin-top: 150px;
  -webkit-animation: myMove4 10s infinite linear;
          animation: myMove4 10s infinite linear;
}

.bubble:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.bubble:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bubble:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.bubble:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.bubble:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes myMove1 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(100px) scale(1.1);
            transform: translateY(100px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px) scale(1);
            transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}

@keyframes myMove1 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(100px) scale(1.1);
            transform: translateY(100px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px) scale(1);
            transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes myMove2 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(75px) scale(1.1);
            transform: translateY(75px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-150px) scale(1);
            transform: translateY(-150px) scale(1);
    opacity: 0;
  }
}

@keyframes myMove2 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(75px) scale(1.1);
            transform: translateY(75px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-150px) scale(1);
            transform: translateY(-150px) scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes myMove3 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(50px) scale(1.1);
            transform: translateY(50px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-175px) scale(1);
            transform: translateY(-175px) scale(1);
    opacity: 0;
  }
}

@keyframes myMove3 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(50px) scale(1.1);
            transform: translateY(50px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-175px) scale(1);
            transform: translateY(-175px) scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes myMove4 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(25px) scale(1.1);
            transform: translateY(25px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-225px) scale(1);
            transform: translateY(-225px) scale(1);
    opacity: 0;
  }
}

@keyframes myMove4 {
  0% {
    -webkit-transform: translateY(300px) scale(1);
            transform: translateY(300px) scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(25px) scale(1.1);
            transform: translateY(25px) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-225px) scale(1);
            transform: translateY(-225px) scale(1);
    opacity: 0;
  }
}

@media only screen and (max-width: 1080px) {
  .bubble_container {
    border: 2px solid lightblue;
    width: 100%;
    height: 300px;
    background-color: beige;
    overflow: hidden;
    position: relative;
  }
  .bubble_container .bubbles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 250px;
  }
  .bubble_container .bubbles .bubble {
    border: 2px solid green;
    list-style: none;
    display: block;
    background-color: white;
    min-height: 50px;
    min-width: 250px;
    margin-bottom: 50px;
    -webkit-box-shadow: 3px -6px 56px -6px #f0de69;
    box-shadow: 3px -6px 56px -6px #f0de69;
    border-radius: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  .b1 {
    position: absolute;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .b2 {
    position: absolute;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  .b3 .bubble {
    margin-top: 100px;
    -webkit-animation: none;
            animation: none;
  }
  .b4 .bubble {
    margin-top: 150px;
    -webkit-animation: none;
            animation: none;
  }
}

@media only screen and (max-width: 760px) {
  .bubble_container {
    border: 2px solid lightblue;
    width: 100%;
    height: 300px;
    background-color: beige;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .bubble_container .bubbles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 250px;
  }
  .bubble_container .bubbles .bubble {
    border: 2px solid green;
    list-style: none;
    display: block;
    background-color: white;
    min-height: 50px;
    min-width: 250px;
    margin-bottom: 50px;
    -webkit-box-shadow: 3px -6px 56px -6px #f0de69;
    box-shadow: 3px -6px 56px -6px #f0de69;
    border-radius: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  .b1 {
    position: absolute;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .b2 .bubble {
    margin-top: 50px;
    -webkit-animation: none;
            animation: none;
  }
  .b3 .bubble {
    margin-top: 100px;
    -webkit-animation: none;
            animation: none;
  }
  .b4 .bubble {
    margin-top: 150px;
    -webkit-animation: none;
            animation: none;
  }
}
/*# sourceMappingURL=main.css.map */