$base_color_grey:rgb(241,243,254);
$base_color_black:rgb(20,28,58);
$base_color_green:rgb(100,237,190);
$base_color_yellow:rgb(255,199,64);
$base_color_blue:rgb(100,0,228);
$text_color_black:rgb(20,28,58);
$text_color_white:rgb(255,255,255);
$text_color_blue:#141c73;
*{
    font-family: 'Poppins','Noto Sans SC',sans-serif;
}

@import "aili/dashboard";
@import "aili/heading";
@import "aili/studydirection";
@import "aili/nav";
@import "aili/topic";
@import "aili/respons";
@import "aili/studynav";
@import "aili/slide";
@import "aili/insidenextslide";
@import "aili/aboutus";
@import "pan/pan";
@import "pan/footer";
@import "pan/buble";
@import "pan/studentFeedback";
@import "pan/whyUs";



