.footer{
    width:100%;
    text-align: center;
    
    background-color: $base_color_black;
    color: rgb(166,180,192);
    border:0.5px solid grey;
 .logo{
     width:200px;

 } 
}
.footer_text{
    padding:0.8rem 0px;
}
.footer h6{
    padding:0px 1rem;
}
.footer a{
    text-decoration: none;
    color:rgb(166,180,192);
}
.footer h4{
    color: rgb(217,223,228);
    font-size: 1.1rem;
}
.footer .footer_wechat img{
   width:100px;
   height:100px;
}
.footer_content{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:2rem;
}
.footer_content .footer_contact{
    padding:0 1rem;
}
.footer_content .footer_contact img{
    margin-bottom: 1rem;
}
.footer_content .footer_wechat img{
    margin-top:1rem;
}

