.whyUs{

    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    ;
    margin-top: -5.5rem;
    padding: 4rem 0rem 5rem 0rem;

    
    text-align: center;
    font-size: 1.3rem;
    min-height:400px;
    background-color: $base_color_grey;
    .wReasons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .wReason{
            border-radius: 15px;
            margin:1rem;
            min-width:300px;
            min-height:100px;
            line-height:100px;
            background-color: $base_color_grey;
    
            border:1px solid $base_color_yellow;
        }
    }
}