

$bp-smallest: 31.25em; // 500px
$base_color_black:rgb(20,28,58);
$base_color_green:rgb(100,237,190);
$base_color_yellow:rgb(255,199,64);
$base_color_grey:rgb(241,243,254);


.slide1{
    position: relative;
    z-index: 2000;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    margin-top: -5.5rem;
    padding: 4rem 0rem 5rem 0rem;
    background-color:  #151c3b;
    @media only screen and (max-width: 31.25em) {
        margin-top: -8rem;
        padding: 4rem 0rem 8rem 0rem;
    } 
}
.overall{
    overflow: hidden;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 31.25em) {
        height: 480px;
    } 
}
.slide__main__title{
    width: 100vw;
    background-color: $base_color_black;
}
h2, p{
    text-align: center;
    color: $base_color_green;
}
p{
    margin-bottom: 1rem;
}
.slidershow{
    background-color: $base_color_black;
    width: 100vw;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-color: #f1f2f5 !important;
    @media only screen and (max-width: $bp-smallest) {
        flex: 0 0 100%;
    }
}
.navigation1{
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-smallest) {
        display: none;
    }
}
.bar{
    background-color: white;
    border-radius: 25px;
    padding:.1rem .5rem .1rem .5rem;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    font-size: .8rem;
    cursor: pointer;
    margin: .5rem;
    &:hover{
        background-color:#f1eee9;
        border: 1px solid #f1eee9;
        border-radius: 25px;
    }
    &__btn{
        width: 100px;
        height: 30px;
        appearance: none;
        border-radius: 16px;
        border: none;
        display: flex;
        align-items: stretch;
        & span{
           align-self: center; 
           margin-left: .3rem;
        }
        &:hover{
            color: blue;
            background-color: #f1eee9;
        }
    }
}
.slides{
    width: 300%;
    display: flex;
    position: relative;
    @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        height: 80%;
    }
    &_button{
        position: absolute !important;
        display: none;
        border: none;
        color: white;
        z-index: 2000;
        width: 3rem;
        height: 3rem;
        top: 35%;
        @media only screen and (max-width: $bp-smallest) {
            display: block;
        }
    }
    &__nextbtn{
        @media only screen and (max-width: $bp-smallest) {
            right: 0;
        }
    }
    &__nav{
        flex: 1;
        background-color: #f1f2f5 !important;
        display: none;
        padding: 1rem 0 1rem 0;
        &--contain{
            border: 1px solid black;
            border-radius: 25px; 
            height: 3rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            display: block;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--btn{
            margin: 1rem;
        }
    }
}
.slide{
    padding: 0;
    background-color: #f1f2f5 !important;
    position: relative;
    width: 33.33333%;
    left: 0;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 500px;
    @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    @media only screen and (max-width: $bp-smallest) {
       
    }
}
.addno{
    display: none;
}

.red{
    background-color:$base_color_yellow;
    @media only screen and (max-width: $bp-smallest) {
        background-color:black;
    }
    border-radius: 25px;
}
.makingFlex{
    display: flex !important;
}





.book {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(105deg, 
                                    rgba(white, .9) 0%,
                                    rgba(white, .9) 50%,
                                    transparent 50%) ,
                            url(./../../MainPage/images/Footer/conputer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 48em) {
        margin: 2rem;
        background-image: none;
    }
    &__form {
        position: absolute;
        margin-left: 5rem;
        @media only screen and (max-width: 48em) {
            margin-left: 0;
            top: 38%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
.heading1{
    margin-top: .5rem;
    margin-bottom: .5rem !important;
}
.heading2{
    font-size: 3.5rem;
    @media only screen and (max-width: 48em) {
        font-size: 2rem;
    }
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, black, grey);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}
.slidetext{
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", sans-serif, BlinkMacSystemFont, "Segoe UI", "Arial", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.heading3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, black, grey);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}
.heading4{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.logowrapper{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}
.tag{
    font-weight: bold;
    font-size: 13.5px;
    font-weight: 400px;
    color: $base_color_black;
    line-height: 24px;
    word-break: keep-all;
    height: 24px;
    padding: 2px 12px; 
    background-color: white;
    opacity: .5;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin: 6px 6px 0 0;
}
.buttonslide{
    border-bottom-left-radius: 15px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__num1{
        color: $base_color_black;
        height: 1.8rem;
        padding: 4px 1rem;
        font-size: 12px;
        font-weight: 600;
        border-radius: 1.5em;
        border: none;
        line-height: 1.5rem;
        transition: all .3s ease;
        background: linear-gradient(to right,yellow,$base_color_yellow 100%);
        box-shadow: 0 12px 14px -4px rgba(0,0,0,0.15);
        cursor: pointer;
        display: inline-block;
        outline: none;
        &:hover{
            outline-style: solid;
            outline-color:grey;
            outline-offset: 1px;
        }
    }
}
.cross{
    display: inline-block;
    text-decoration: line-through;
}



