.whyUs{
    text-align: center;
    font-size: 1.3rem;
    min-height:400px;
    background-color: $text_color_white;
    .wReasons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .wReason{
            margin:1rem;
            min-width:300px;
            min-height:100px;
            line-height:100px;
            background-color: $base_color_grey;
    
            border:1px solid $base_color_yellow;
        }
    }
}