@keyframes appear{
    0%   {opacity: 0;}
    
    50%  {opacity: .5;}
    
    100% {opacity: 1;}
}

@keyframes f1{
    0%   {left: 0%;}
    50%   {left: 0%;}
    100%   {left: 0%;}
}
@keyframes f2{
    0%   {left: 0;}
    50%   {left: -100%;}
    100%   {left: -100%;}
}
@keyframes f3{
    0%   {left: -100%;}
    50%   {left: -200%;}
    100%   {left: -200%;}
}

@keyframes example {
    from {transform:translateY(10px);}
    to {transform:translateY(0);}
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes box{
    0% {
        border: 1px black solid;
        
    }

}