$base_color_grey:rgb(241,243,254);
$base_color_black:rgb(20,28,58);
$base_color_green:rgb(100,237,190);
$base_color_yellow:rgb(255,199,64);
$base_color_blue:rgb(100,0,228);
$text_color_black:rgb(20,28,58);




$text_color_white:rgb(255,255,255);


$text_color_blue:#141c73;

$bp-medium: 56.25em;
$bp-800: 50em;


$screenbelow-1100: 75em;

$screenbelow-415: 26.5em;
$screenbelow-500: 31.25em;


$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px



$bp-768: 48em; // 500px
$bp-414: 25em; // 360px
$bp-411: 25.68em; // 411px
$bp-375: 23.43em; // 320px
$bp-360: 22.5; // 411px
$bp-320: 20em; // 411px



$bp-medium: 56.25em;   // 900px
$bp-800: 50em;  //800px

$base_color_grey:rgb(241,243,254);
$base_color_black:rgb(20,28,58);
$base_color_green:rgb(100,237,190);
$base_color_yellow:rgb(255,199,64);
$base_color_blue:rgb(100,0,228);
$text_color_black:rgb(20,28,58);


$text_color_white:rgb(255,255,255);

$text_color_blue:#141c73;






$base_color_grey:rgb(241,243,254);
$base_color_black:rgb(20,28,58);
$base_color_green:rgb(100,237,190);
$base_color_yellow:rgb(255,199,64);
$base_color_blue:rgb(100,0,228);
$text_color_black:rgb(20,28,58);



