* {
  font-family: 'Poppins','Noto Sans SC',sans-serif;
}

.guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(20, 28, 58, 0.8);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  color: white;
}

.guide .Introblock {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guide .Introblock .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  text-decoration: none;
  color: white;
}

.guide .Introblock .card a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.guide .Introblock img {
  width: 120px;
  height: 120px;
}

.fullStack {
  width: 100%;
  text-align: center;
  background-color: #f1f3fe;
}

.fullStack .bref {
  width: 100%;
}

.fullStack .bref h1 {
  color: #141c3a;
  margin-top: 0;
  padding-top: 1rem;
}

.fullStack .bref p {
  font-size: 1.3rem;
  padding: 1rem;
}

.fullStack .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fullStack .courses .course {
  max-width: 100vw;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.fullStack img {
  max-width: 100vw;
  width: 25rem;
}

.fullStack .courses .course .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.fullStack .courses .course .label i {
  padding: 0 0.8rem;
}

.fullStack button {
  outline: none;
  border: none;
  color: white;
  background: #ffc740;
}

.ba {
  width: 100%;
  text-align: center;
}

.ba .bref {
  width: 100%;
}

.ba .bref h1 {
  color: #247BCA;
}

.ba .bref p {
  font-size: 1.3rem;
  padding: 1rem;
}

.ba .baCourses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ba .baCourses .baCourse {
  max-width: 100vw;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.ba img {
  max-width: 100vw;
  width: 25rem;
}

.ba .baCourses .baCourse .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.ba .baCourses .baCourse .label i {
  padding: 0 0.8rem;
}

.ba button {
  outline: none;
  border: none;
  color: white;
  background: #247BCA;
}

a:hover {
  cursor: pointer;
}

.tutors {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tutor-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tutor-card {
  width: 20rem;
  max-width: 100vw;
  margin: 0.5rem;
  margin-top: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: transparent;
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px -5px #c79675;
  box-shadow: 10px 10px 65px 0px rgba(199, 150, 117, 0.8);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.tutor-card .tutor-intro .tutor-image {
  position: relative;
  width: 120px;
  height: 120px;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.tutor-card .tutor-intro h3 {
  margin: 0;
}

.tutor-card .tutor-intro img {
  border-radius: 50%;
  width: 100%;
}

.tutor-card .tutor-intro .tutor-image:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
  border-bottom: 3px solid #c79675;
  border-top: 3px solid #c79675;
  border-left: 3px solid #eba679;
  border-right: 3px solid #eba679;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tutor-card:hover .tutor-image:after {
  cursor: pointer;
  -webkit-animation: circle 3s linear infinite;
          animation: circle 3s linear infinite;
}

.tutor-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  49% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  51% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  49% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  51% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
}

.tutor-card .tutor-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(30px, 1fr))[autofit];
      grid-template-rows: repeat(autofit, minmax(30px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.whyUs {
  text-align: center;
  font-size: 1.3rem;
  min-height: 400px;
  background-color: white;
}

.whyUs .wReasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whyUs .wReasons .wReason {
  margin: 1rem;
  min-width: 300px;
  min-height: 100px;
  line-height: 100px;
  background-color: #f1f3fe;
  border: 1px solid #ffc740;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #141c3a;
  color: #a6b4c0;
  border: 0.5px solid grey;
}

.footer .logo {
  width: 200px;
}

.footer_text {
  padding: 0.8rem 0px;
  color: #a6b4c0;
}

.footer h6 {
  padding: 0px 1rem;
}

.footer a {
  text-decoration: none;
  color: #a6b4c0;
}

.footer h4 {
  color: #d9dfe4;
  font-size: 1.1rem;
}

.footer .footer_wechat img {
  width: 100px;
  height: 100px;
  background-color: white;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.footer_content .footer_contact {
  padding: 0 1rem;
}

.footer_content .footer_contact img {
  margin-bottom: 1rem;
}

.footer_content .footer_wechat img {
  margin-top: 1rem;
}
/*# sourceMappingURL=style.css.map */